@import "../partial/variables";
@import "../partial/mixins";

//Course Component Styles 

  .courseHzStepper{
    position: relative;

    .courseWeekCurrent {
      .courseWeek{
        margin: 0 auto;
        height: 24px;
        width: 24px;
        @include border-radius(50%);
        border: 2px solid grey;
        background: $white;
        z-index: 0;
        
        &::after{
          content: "";
          position: absolute;
          top: 12%;
          left: 30px;
          width: 315px;
          height: 2px;
          background-color: grey;
          z-index: -1;
        }   
      }

      .icon {
        display: none;
      }

      &.active{
        .courseWeek{
          margin: 0 auto;
          height: 24px;
          width: 24px;
          @include border-radius(50%);
          border: 2px solid #ad0000;
          background: #d4afaf;
          z-index: 0;
        }
        .courseWeekName{
          color: #ad0000;
          font-weight: 600;
        }

        .icon {
          display: block;
        }
      }

    }

    &:last-child{
      .courseWeekCurrent{
        .courseWeek{

          &::after{
            content: none !important;
          }
        }
      }
    }
  }

  a {
    color: grey;
    &:hover {
      text-decoration: none;
      color: grey;
    }
  }


//Slickk Carousel
  
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}

.slick-list {
  margin-top: 90px;
  overflow: visible !important;
  height: 0 !important;

  .slick-track {
    margin-top: 30px;

    .slick-active{
      .courseCardList{
        margin: 40px 0px;
        @include box-shadow(0, 0, 8px, rgba($black, 0.16));
      }
    }
  }
  ul{
    li{
      list-style-type: disc;
    }
  }  
}
.slick-dots{
    top: -90px;
    display: flex !important;
    margin: 0;
    padding: 0 40px;
    justify-content: space-between;
    &:before{
      content: '';
      position: absolute;
      width: calc(100% - 82px);
      height: 2px;
      top: 10px;
      background-color: $lightGray;
    }

   li{
    margin: 0;
    width: 0;
    display: flex;
    justify-content: center;

    &.slick-active{
      .courseWeekContainer{
        .courseWeekButton{
          button{
            background-color: #ffa0a0;
            border-color: #ad0000;
          }
          &:before {
            content: '';
          }
        }
        .courseWeek {
          color: #ad0000;
        }
      }
    }

    div.courseWeekContainer {
      position: relative;
      width: 0px;
      height: 40px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      .courseWeekButton{
        position: relative;
        button {
          margin: 0 auto;
          height: 24px;
          width: 24px;
          @include border-radius(50%);
          border: 2px solid grey;
          background: $white;
          z-index: 0;
          &:before{
            content: none;
          }
        }

        &:before {
          content: none;
          position: absolute;
          opacity: 1;
          bottom: -75px;
          left: 0;
          right: 0;
          height: 24px;
          width: 24px;
          background: url('../../images/spritesheet.svg') no-repeat -72px -88px;
        }
      }

      &.true{
        .courseWeekButton{
          button{
            position: relative;
            background: $transparent;
            border-color: $transparent;
            &:before{
              content: '';
              position: absolute;
              height: 22px;
              width: 22px;
              top: -2px;
              opacity: 1;
              background: url('../../images/spritesheet.svg') no-repeat -49px -89px;
            }
          }
        }
      }

      a {
        display: block;
        font-size: 18px;
        width: 85px;
        color: #3c3c3c;
      }
    }

   }
}

