@import "../partial/variables";
@import "../partial/mixins";

.subCourseListContainer{
    display: block;
    overflow: hidden;
    margin: 0 10px 30px 5px;
    padding: 0;
    @include box-shadow(0, 0, 5px, rgba($black, .14));
    .subCourseListItem{
        padding: 0;
        border: 0;
        background-color: $white;
        @include border-radius(0);

        &:last-child{
            @include border-radius(0 0 4px 4px);
        }

        .subCourseLink{
            cursor: pointer;
            position: relative;
            font-size: 14px;
            color: rgba($black, 0.8);
            padding: 20px 16px;
            margin-top: 5px;
            font-family: $fontBold;
            background: rgba($black, 0.14);
            @include transition();

            &:hover{
                color: rgba($black, 0.8);
                background: rgba($black, 0.2);
            }

            &:after{
                content: '';
                position: absolute;
                right: 20px;
                top: calc(50% - 6px);
                height: 12px;
                width: 12px;
                background: url('../../images/spritesheet.svg') no-repeat;
                background-position: -18px -2px;
                @include transition();
            }

            &.lock{
                &:after{
                    background-position: -34px -2px;
                }
            }

            &.active{
                color: rgba($black, 0.8);
                &:after{
                    @include transform(rotate(180deg));
                }
            }
        }

        &:first-child{
            .subCourseLink{
                margin: 0;
            }
        }

        .subCourseContent{

            .subCourseContentItem{
                margin-top: 5px;

                .subCourseContentLink{
                    cursor: pointer;
                    position: relative;
                    border: 0;
                    font-size: 11px;
                    color: #4b433e;
                    padding: 12px 16px 12px 50px;
                    background: $transparent;
                    @include transition();

                    &:after{
                        content: '';
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                        width: 0;
                        background-color: $primaryColor;
                        @include transition();
                    }

                    &:before{
                        content: '';
                        position: absolute;
                        left: 20px;
                        top: calc(50% - 7px);
                        height: 16px;
                        width: 16px;
                        background: url(../../images/spritesheet.svg) no-repeat;
                        background-position: -49px -1px;
                    }

                    &.completed{
                        &:before{
                            background-position: -64px 0;
                        }
                    }

                    &.active{
                        color: $secondaryColor;
                        background: rgba(220, 220, 220, 0.4);

                        &:after{
                            width: 7px;
                        }
                        &:before{
                            display: none;
                        }
                    }
                    i{
                        transition-delay: 0.1s;
                    }

                    &:hover{
                        color: $secondaryColor;
                        background: rgba(220, 220, 220, 0.4);
                        i{
                            &.icon-information{
                                background-position: -528px -112px;
                            }
                            &.icon-video{
                                background-position: -360px -112px;
                            }
                            &.icon-simulation{
                                background-position: -336px -112px;
                            }
                            &.icon-file{
                                background-position: -312px -112px;
                            }
                            &.icon-webinar{
                                background-position: -289px -112px;
                            }
                            &.icon-quiz{
                                background-position: -240px -112px;
                            }
                        }

                        &:after{
                            width: 7px;
                        }
                    }

                    .LessonTitle{
                        font-size: 12px;
                    }

                    .LessonSub{
                        opacity: 0.5;
                        font-size: 12px;
                    }
                }
            }
        }

        &:last-child{

            .subCourseContent{

                .subCourseContentItem{
                    margin-bottom: 5px;
                }
            }
        }                
    
    }
}

.LessonWidget{
    .LessonTitle{
        padding: 16px 16px 16px 30px;
        background: $white;
        color: #302a25;
        @include border-radius(4px 4px 0 0);
        @include box-shadow(0, 1px, 10px, rgba($black, .14));
    }
    .LessonContentWidget{
        height: calc(100vh - 152px);
        @include box-shadow(0, 4px, 10px, rgba($black, .14));
        &.default{
            height: calc(100vh - 120px);
        }
        .LessonContentContainer{
            padding: 30px;
        }
    }
}

.PDFHeaderOptions{
    i{
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}