@import "../partial/variables";
@import "../partial/mixins";

.TotalPoints{
    height: 64px;
    width: 64px;
    padding: 16px 8px;
    .TotalPointsNumber{
        overflow: hidden;
    }
}

.DashboardCards{
    width: 555px;
    padding: 0 16px;
}

.CompletedLabel{
    width: 123px
}

.CompletedDesc{
    max-width: calc(100% - 100px);
}