@import "../partial/variables";
@import "../partial/mixins";

.navbar{
    padding: 0;
    background: $white;
    z-index: 99;
    @include box-shadow(0, 6px, 9px, rgba(0, 0, 0, 0.07));
    .navbar-brand{
        margin: 0 24px;
    }
    .collapse{
        &.navbar-collapse{

        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    position: relative;
                    padding: 22px 16px;
                    height: 60px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: $secondaryColor;
                    &.colored{
                        color: $primaryColor;
                        font-family: $fontBold;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 0;
                        width: 100%;
                        background-color: $primaryColor;
                        @include transition();
                    }
                    &:hover{
                        color: $primaryColor;
                        &:after{
                            height: 4px;
                        }
                    }
                    &.active{
                        color: $primaryColor;
                        font-family: $fontBold;
                        &:after{
                            height: 4px;
                        }
                    }
                }
            }
        }
        .navbar-right{
            .nav-item{
                margin: 0 12px;
                .notification-link{
                    position: relative;
                    .notify-number{
                        position: absolute;
                        font-family: $fontBold;
                        height: 16px;
                        width: 16px;
                        top: -4px;
                        right: 0;
                        color: $white;
                        font-size: 9px;
                        padding: 1px 4px;
                        background-color: $primaryColor;
                        @include border-radius(100%);
                    }
                }
            }
            .profile-container{
            }
        }
    }
}

.dropdown{
    > button{
        padding: 0;
        margin: 0;
        background: $transparent;
        border: 0;
        height: 60px;
        &:hover{
            background: $transparent;
        }
        &:focus{
            background: $transparent;
        }
        &:active{
            background: $transparent !important;
        }
    }
    &.show{
        button{
            .profile-content{
                .profile-caret{
                    i{
                        @include transform(rotate(180deg));
                    }
                }
            }
        }
    }
}

.dropdown-menu{
    padding: 0;
    margin: -1px 0 0 0;
    button{
        cursor: pointer;
        font-size: 12px;
        padding: 6px 12px;
        &:hover{
            background: #eaeaea;
        }
    }
}