@import "../partial/variables";
@import "../partial/mixins";

.modalBodyOnly{
    .modal-content{
        .modal-header{
            display: none;
        }
        .modal-body{
            padding: 0;
            .c-player{
                .video-js{
                    height: 100%;
                    padding: 60px 0;
                }
            }
        }
        .modal-footer{
            display: none;
        }
    }
}