@import "../partial/variables";
@import "../partial/mixins";

.QuizContainer{
    width: 100% !important;
    max-width: 100%;
    height: 100vh !important;
    padding: 0 !important;
    .modal-dialog{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #fbfbfb;
        .modal-content{
            height: 100%;
            background-color: $transparent;
            border: 0;
            .modal-header{
                background-color: $white;
                padding: 12px 20px;
                margin: 0 30px;
                border: 0;
                height: 60px;
                z-index: 1;
                @include border-radius(0 0 4px 4px);
                @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.16));
                button{
                    &:focus{
                        outline: 0;
                    }
                    &.close{
                        float: right;
                        opacity: 1;
                        padding: 0;
                        margin: 0;
                        line-height: 16px;
                        &:hover{
                            opacity: 0.8;
                        }
                        span{
                            position: relative;
                            display: inline-block;
                            font-size: 0;
                            height: 16px;
                            width: 16px;
                            &:after{
                                content: '';
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                background: url('../../images/spritesheet.svg') no-repeat -112px 0px;
                            }
                        }
                    }
                }
            }
            .modal-body{
                padding: 0;
                flex: 0;
                height: calc(100vh - 65px);

                .QuizContent{
                    height: 100%;
                    .InstructionWidget{
                        width: 350px;
                        height: 100%;
                        padding: 20px 0 0 0;
                        .MarksQuestionWidget{
                            padding: 16px;
                            margin: 5px 10px 15px 30px;
                            background: $white;
                            @include box-shadow(0, 0, 6px, rgba(0, 0, 0, 0.16));
                            @include border-radius(4px);
                            .MarksQuestions{
                                padding: 0 16px;
                                .Marks{

                                }
                                .Questions{

                                }
                            }
                        }
                        .ProgressTimerWidget{
                            position: relative;
                            margin: 30px 0;
                            &:after{
                                // content: 'Hrs        Min        Sec';   /* ----------- To display Hours */
                                content: 'Min     Sec';
                                position: absolute;
                                text-align: center;
                                font-size: 10px;
                                top: 74px;
                                left: 0;
                                right: 0;
                                white-space: pre;
                            }
                            &:before{
                                content: 'Time Left';
                                position: absolute;
                                text-align: center;
                                font-size: 16px;
                                top: 95px;
                                left: 0;
                                right: 0;
                            }
                            .ProgressTimerContainer{
                                width: 150px;
                                margin: 0 auto;
                                .CircularProgressbar{
                                    .CircularProgressbar-text{
                                        font-family: $fontBold;
                                        position: relative;
                                        @include transform(translateY(-9px));
                                    }
                                }
                            }
                        }
                        .InstructionContainer{
                            .InstructionTitle{

                            }
                            .InstructionContent{
                                counter-reset: InstructionList;
                                .InstructionItem{
                                    padding: 0 0 0 15px;
                                    position: relative;
                                    &:before{
                                        counter-increment: InstructionList;
                                        content: counter(InstructionList) ". ";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                    .MainWidget{
                        flex-grow: 1;
                        margin: 5px 0 0 0;
                        padding: 15px 0 0 5px;
                        height: 100%;
                        counter-reset: QuestionList;
                        .QuizAnswerWidget{
                            padding: 0 30px 20px 5px;
                            margin: 5px 0 0 0;
                            .QuizAnswerContainer{
                                background: $white;
                                @include box-shadow(0, 0, 6px, rgba(0, 0, 0, 0.16));
                                @include border-radius(4px);

                                .quizTemplateWidget{
                                    padding: 22px 30px;
                                    &:nth-child(odd) {
                                        background: rgba(255, 247, 214, 0.2);
                                    }
                                    .quizQuestion{
                                        margin-bottom: 30px;
                                        .Question{
                                            width: calc(100% - 72px);
                                            padding:  0 15px 0 0;
                                            flex-grow: 1;
                                            &:before{
                                                counter-increment: QuestionList;
                                                content: "Q" counter(QuestionList) ". ";
                                            }
                                        }
                                        .Marks{
                                            width: 72px;
                                        }
                                    }
                                    .AnswerWidget{
                                        .AnswerItem{
                                            .AnswerLabel{
                                                position: relative;
                                                padding: 0 0 0 36px;
                                                margin-bottom: 20px;
                                                cursor: pointer;
                                                &:before{
                                                    content: '';
                                                    position: absolute;
                                                    height: 16px;
                                                    width: 16px;
                                                    left: 0;
                                                    top: calc(50% - 8px);
                                                    border: 1px solid $lightGray;
                                                    @include border-radius(100%);
                                                }
                                            }
                                            input{
                                                position: absolute;
                                                height: 0;
                                                width: 0;
                                                opacity: 0;
                                                &:checked+label{
                                                    &:before{
                                                        border-color: #e60000;
                                                    }
                                                    &:after{
                                                        content: '';
                                                        position: absolute;
                                                        height: 10px;
                                                        width: 10px;
                                                        left: 3px;
                                                        top: calc(50% - 5px);
                                                        background-color: #e60000;
                                                        @include border-radius(100%);
                                                    }
                                                }
                                            }
                                            
                                            &:last-child{
                                                .AnswerLabel{
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer{
                display: none;
            }
        }
    }
}