@import "../partial/variables";
@import "../partial/mixins";

.c-player{
    @include border-radius(5px);
    overflow: hidden;
    .video-js{
        display: flex;
        position: relative;
        height: calc(100vh - 212px);
        width: 100%;
        user-select: none;
        background: $black;
        &.vjs-paused{
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: calc(50% - 32px);
                left: calc(50% - 32px);
                height: 64px;
                width: 64px;
                background: url('../../images/spritesheet.svg') no-repeat 0 -496px;
            }
        }
        video{
            height: 100%;
            width: 100%;
            .vjs-tech{
            }
        }
        .vjs-poster{

        }
        .vjs-text-track-display{
            display: none;
        }
        .vjs-loading-spinner{
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
        .vjs-big-play-button{
            display: none;
        }
        .vjs-control-bar{
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            bottom: 0;
            width: 100%;
            color: $white;
            padding: 20px 10px;            
            @include border-radius(5px);
            overflow: hidden;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.69), rgba(84, 84, 84, 0));

            .vjs-time-divider{
                display: none;
            }

            .vjs-control{
                &.vjs-play-control{
                    background: $transparent;
                    border: 0;
                    margin: 0 15px;
                    order: 1;
                    &:focus{
                        outline: none;
                    }
                    &.vjs-paused{
                        .vjs-icon-placeholder{
                            &:after{
                                background-position: -170px -90px;
                            }
                        }
                    }
                    &.vjs-playing{
                        .vjs-icon-placeholder{
                            &:after{
                                background-position: -459px -88px;
                            }
                        }
                    }
                    &.vjs-ended{
                        .vjs-icon-placeholder{
                            &:after{
                                background-position: -601px -89px;
                            }
                        }
                    }
                    .vjs-icon-placeholder{
                        display: block;
                        cursor: pointer;
                        height: 22px;
                        width: 22px;
                        &:after{
                            content: '';
                            display: block;
                            height: 100%;
                            width: 100%;
                            background: url('../../images/spritesheet.svg') no-repeat -170px -90px;
                        }
                    }
                    .vjs-control-text{
                        display: none;
                    }
                }
                &.vjs-volume-panel{
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 0 15px 0 0;
                    width: 90px;
                    overflow: hidden;
                    order: 4;
                    @include transition();
                    .vjs-mute-control{
                        background: $transparent;
                        border: 0;
                        margin: 0 10px 0 0;
                        &:focus{
                            outline: none;
                        }
                        .vjs-icon-placeholder{
                            display: block;
                            cursor: pointer;
                            height: 22px;
                            width: 22px;
                            &:after{
                                content: '';
                                display: block;
                                height: 100%;
                                width: 100%;
                                background: url('../../images/spritesheet.svg') no-repeat -193px -89px;
                            }
                        }
                        &.vjs-vol-0{
                            .vjs-icon-placeholder{
                                &:after{
                                    background-position: -581px -89px;
                                }
                            }
                        }
                        .vjs-control-text{
                            display: none;
                        }
                    }
                    .vjs-volume-control{
                        width: 50px;
                        height: 5px;
                        background: #6c6c6c;
                        @include border-radius(5px);
                        .vjs-volume-bar{
                            height: 100%;
                            cursor: pointer;
                            .vjs-volume-level{
                                position: relative;
                                height: 100%;
                                background: #e60000;
                                @include border-radius(5px);
                                &:after{
                                    content: '';
                                    position: absolute;
                                    top: -6px;
                                    height: 16px;
                                    width: 16px;
                                    right: -8px;
                                    background: $white;
                                    @include border-radius(100%);
                                }
                            }
                        }
                    }
                }
                &.vjs-time-control{
                    &.vjs-current-time{
                        display: none;
                        .vjs-control-text{
                        }
                    }
                    &.vjs-duration{
                        display: none;
                        .vjs-control-text{
                        }
                    }
                    &.vjs-remaining-time{
                        order: 3;
                        .vjs-control-text{
                            display: none;
                        }
                        .vjs-remaining-time-display{
                            display: block;
                            margin: 0 15px;
                            min-width: 45px;
                            @include transition();
                        }
                    }
                }
                &.vjs-fullscreen-control{
                    margin: 0 15px 0 0;
                    order: 5;
                }
                &.vjs-progress-control{
                    order: 2;
                    flex-grow: 1;
                    height: 5px;
                    .vjs-progress-holder{
                        position: relative;
                        width: 100%;
                        background: #6c6c6c;
                        @include border-radius(3px);
                        cursor: pointer;
                        &:hover{
                            .vjs-mouse-display{
                                display: block;
                            }
                        }
                        .vjs-load-progress{
                            display: none;
                            .vjs-control-text{
                                .vjs-control-text-loaded-percentage{

                                }
                            }
                        }
                        .vjs-mouse-display{
                            display: none;
                            position: absolute;
                            bottom: 0;
                            margin: 0 0 10px -25px;
                            width: 50px;
                            text-align: center;
                            .vjs-time-tooltip{

                            }
                        }
                        .vjs-play-progress{
                            position: relative;
                            height: 5px;
                            background: #e60000;
                            @include border-radius(3px);
                            &:after{
                                content: '';
                                position: absolute;
                                right: -8px;
                                top: -5px;
                                height: 16px;
                                width: 16px;
                                background: $white;
                                @include border-radius(100%);
                            }
                            .vjs-time-tooltip{
                                display: none;
                            }
                        }
                    }
                }
                &.vjs-live-control{
                    display: none;
                    .vjs-live-display{
                        .vjs-control-text{

                        }
                    }
                }
                &.vjs-fullscreen-control{
                    background: $transparent;
                    border: 0;
                    &:focus{
                        outline: 0;
                    }
                    &[title~='Fullscreen']{
                        .vjs-icon-placeholder{
                            &:after{
                                background-position: -217px -89px;
                            }
                        }
                    }
                    &[title~='Non-Fullscreen']{
                        .vjs-icon-placeholder{
                            &:after{
                                background-position: -217px -138px;
                            }
                        }
                    }
                    .vjs-icon-placeholder{
                        display: block;
                        cursor: pointer;
                        height: 22px;
                        width: 22px;
                        &:after{
                            content: '';
                            display: block;
                            height: 100%;
                            width: 100%;
                            background: url('../../images/spritesheet.svg') no-repeat -217px -89px;
                        }
                    }
                    .vjs-control-text{
                        display: none;
                    }
                }
                &.vjs-seek-to-live-control{
                    display: none;
                }
            }
            .vjs-custom-control-spacer{
                display: none;
                &.vjs-spacer{

                }
            }
            .vjs-menu-button{
                display: none;
                &.vjs-playback-rate{
                }
                &.vjs-chapters-button{
                }
            }
        }
        .vjs-error-display{
            display: none;
        }
        .vjs-modal-dialog{
            display: none;
        }
    }
}