/***
* Heights
***/

.h-100{
    height: 100%;
}

/***
* Widths
***/
.width10px{
    min-width: 10px !important;
    width:10px !important;
}

.width15px{
    min-width: 15px !important;
    width:15px !important;
}

.width20px{
    min-width: 20px !important;
    width:20px !important;
}

.width25px{
    min-width: 25px !important;
    width:25px !important;
}

.width30px{
    min-width: 30px !important;
    width:30px !important;
}

.width35px{
    min-width: 35px !important;
    width:35px !important;
}

.width40px{
    min-width: 40px !important;
    width:40px !important;
}

.width45px{
    min-width: 45px !important;
    width:45px !important;
}

.width50px{
    min-width: 50px !important;
    width:50px !important;
}

.width60px{
    min-width: 60px !important;
    width:60px !important;
}

.width65px{
    min-width: 65px !important;
    width:65px !important;
}

.width70px{
    min-width: 70px !important;
    width:70px !important;
}

.width80px{
    min-width: 80px !important;
    width:80px !important;
}

.width90px{
    min-width: 90px !important;
    width:90px !important;
}

.width100px{
    min-width: 100px !important;
    width:100px !important;
}

.width110px{
    min-width: 110px !important;
    width:110px !important;
}

.width120px{
    min-width: 120px !important;
    width:120px !important;
}

.width130px{
    min-width: 130px !important;
    width:130px !important;
}

.width140px{
    min-width: 140px !important;
    width: 140px !important;
}

.width150px{
    min-width: 150px !important;
    width: 150px !important;
}

.width160px{
    min-width: 160px !important;
    width: 160px !important;
}

.width170px{
    min-width: 170px !important;
    width: 170px !important;
}

.width180px{
    min-width: 180px !important;
    width: 180px !important;
}

.width185px{
    min-width: 185px !important;
    width: 185px !important;
}

.width190px{
    min-width: 190px !important;
    width: 190px !important;
}

.width200px{
    min-width: 200px !important;
    width: 200px !important;
}

.width250px{
    min-width: 250px !important;
    width: 250px !important;
}

.width280px{
    min-width: 280px !important;
    width: 280px !important;
}

.width300px{
    min-width: 300px !important;
    width: 300px !important;
}

.width350px{
    min-width: 350px !important;
    width: 350px !important;
}

.width100{
    min-width: 100% !important;
    width: 100% !important;
}

.max-width80{
    max-width: 80% !important;
    width: 80% !important;
}

.width25{
    width:25% !important;
}

.width50{
    min-width: 50% !important;
    width: 50% !important;
}

.width45{
    min-width: 45% !important;
    width: 45% !important;
}

.width40{
    min-width: 40% !important;
    width: 40% !important;
}

.width35{
    min-width: 35% !important;
    width: 35% !important;
}

.width90{
    width:90% !important;
}

.width85{
    width:85% !important;
}

.width80{
    width:80% !important;
}

.width70{
    width:70% !important;
}

.width30{
    width:30% !important;
}

.width33-33{
    width:33.33% !important;
}

.width60{
    width:60% !important;
}

.width65{
    width:65% !important;
}

.bottom{
    &0{
        bottom: 0;
    }
    &1{
        bottom: 1px;
    }
    &2{
        bottom: 2px;
    }
    &3{
        bottom: 3px;
    }
    &4{
        bottom: 4px;
    }
    &5{
        bottom: 5px;
    }
}

.left{
    &0{
        left: 0;
    }
    &1{
        left: 1px;
    }
    &2{
        bottom: 2px;
    }
    &3{
        bottom: 3px;
    }
    &4{
        bottom: 4px;
    }
    &5{
        bottom: 5px;
    }
}

.right{
    &0{
        right: 0;
    }
    &1{
        right: 1px;
    }
    &2{
        bottom: 2px;
    }
    &3{
        bottom: 3px;
    }
    &4{
        bottom: 4px;
    }
    &5{
        bottom: 5px;
    }
}

.top{
    &0{
        top: 0;
    }
    &1{
        top: 1px;
    }
    &2{
        bottom: 2px;
    }
    &3{
        bottom: 3px;
    }
    &4{
        bottom: 4px;
    }
    &5{
        bottom: 5px;
    }
}

.d{
    &-flex{
        display: flex;
    }
    &-block{
        display: block;
    }
    &-inline-block{
        display: inline-block;
    }
}

.flex-column{
    flex-direction: column;
}

.align-items{
    &-start{
        align-items: flex-start;
    }
    &-center{
        align-items: center;
    }
    &-end{
        align-items: flex-end;
    }
}

.justify-content{
    &-between{
        justify-content: space-between;
    }
    &-start{
        justify-content: flex-start;
    }
    &-center{
        justify-content: center;
    }
    &-end{
        justify-content: flex-end;
    }
}

.m{
    &-0 {
        margin: 0 !important;
    }
  
    &t-0,
    &y-0 {
        margin-top: 0 !important;
    }
    
    &r-0,
    &x-0 {
        margin-right: 0 !important;
    }
    
    &b-0,
    &y-0 {
        margin-bottom: 0 !important;
    }
    
    &l-0,
    &x-0 {
        margin-left: 0 !important;
    }
    
    &-1 {
        margin: 0.25rem !important;
    }
    
    &t-1,
    &y-1 {
        margin-top: 0.25rem !important;
    }
    
    &r-1,
    &x-1 {
        margin-right: 0.25rem !important;
    }
    
    &b-1,
    &y-1 {
        margin-bottom: 0.25rem !important;
    }
    
    &l-1,
    &x-1 {
        margin-left: 0.25rem !important;
    }
    
    &-2 {
        margin: 0.5rem !important;
    }
    
    &t-2,
    &y-2 {
        margin-top: 0.5rem !important;
    }
    
    &r-2,
    &x-2 {
        margin-right: 0.5rem !important;
    }
    
    &b-2,
    &y-2 {
        margin-bottom: 0.5rem !important;
    }
    
    &l-2,
    &x-2 {
        margin-left: 0.5rem !important;
    }
    
    &-3 {
        margin: 1rem !important;
    }
    
    &t-3,
    &y-3 {
        margin-top: 1rem !important;
    }
    
    &r-3,
    &x-3 {
        margin-right: 1rem !important;
    }
    
    &b-3,
    &y-3 {
        margin-bottom: 1rem !important;
    }
    
    &l-3,
    &x-3 {
        margin-left: 1rem !important;
    }
    
    &-4 {
        margin: 1.5rem !important;
    }
    
    &t-4,
    &y-4 {
        margin-top: 1.5rem !important;
    }
    
    &r-4,
    &x-4 {
        margin-right: 1.5rem !important;
    }
    
    &b-4,
    &y-4 {
        margin-bottom: 1.5rem !important;
    }
    
    &l-4,
    &x-4 {
        margin-left: 1.5rem !important;
    }
    
    &-5 {
        margin: 3rem !important;
    }
    
    &t-5,
    &y-5 {
        margin-top: 3rem !important;
    }
    
    &r-5,
    &x-5 {
        margin-right: 3rem !important;
    }
    
    &b-5,
    &y-5 {
        margin-bottom: 3rem !important;
    }
    
    &l-5,
    &x-5 {
        margin-left: 3rem !important;
    }
}
  
.p{
    &-0 {
        padding: 0 !important;
    }
  
    &t-0,
    &y-0 {
        padding-top: 0 !important;
    }
    
    &r-0,
    &x-0 {
        padding-right: 0 !important;
    }
    
    &b-0,
    &y-0 {
        padding-bottom: 0 !important;
    }
    
    &l-0,
    &x-0 {
        padding-left: 0 !important;
    }
    
    &-1 {
        padding: 0.25rem !important;
    }
    
    &t-1,
    &y-1 {
        padding-top: 0.25rem !important;
    }
    
    &r-1,
    &x-1 {
        padding-right: 0.25rem !important;
    }
    
    &b-1,
    &y-1 {
        padding-bottom: 0.25rem !important;
    }
    
    &l-1,
    &x-1 {
        padding-left: 0.25rem !important;
    }
    
    &-2 {
        padding: 0.5rem !important;
    }
    
    &t-2,
    &y-2 {
        padding-top: 0.5rem !important;
    }
    
    &r-2,
    &x-2 {
        padding-right: 0.5rem !important;
    }
    
    &b-2,
    &y-2 {
        padding-bottom: 0.5rem !important;
    }
    
    &l-2,
    &x-2 {
        padding-left: 0.5rem !important;
    }
    
    &-3 {
        padding: 1rem !important;
    }
    
    &t-3,
    &y-3 {
        padding-top: 1rem !important;
    }
    
    &r-3,
    &x-3 {
        padding-right: 1rem !important;
    }
    
    &b-3,
    &y-3 {
        padding-bottom: 1rem !important;
    }
    
    &l-3,
    &x-3 {
        padding-left: 1rem !important;
    }
    
    &-4 {
        padding: 1.5rem !important;
    }
    
    &t-4,
    &y-4 {
        padding-top: 1.5rem !important;
    }
    
    &r-4,
    &x-4 {
        padding-right: 1.5rem !important;
    }
    
    &b-4,
    &y-4 {
        padding-bottom: 1.5rem !important;
    }
    
    &l-4,
    &x-4 {
        padding-left: 1.5rem !important;
    }
    
    &-5 {
        padding: 3rem !important;
    }
    
    &t-5,
    &y-5 {
        padding-top: 3rem !important;
    }
    
    &r-5,
    &x-5 {
        padding-right: 3rem !important;
    }
    
    &b-5,
    &y-5 {
        padding-bottom: 3rem !important;
    }
    
    &l-5,
    &x-5 {
        padding-left: 3rem !important;
    }
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
  
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.text-white {
    color: #fff !important;
}

.modal{
    margin: 0 auto !important;
}