
@font-face {
  font-family: 'oxygenRegular';
  src: url('../fonts/Oxygen-Regular.otf') format('embedded-opentype'),
       url('../fonts/Oxygen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenLight';
  src: url('../fonts/Oxygen-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenItalic';
  src: url('../fonts/Oxygen-Italic.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oxygenBold';
  src: url('../fonts/Oxygen-Bold.otf') format('embedded-opentype'),
       url('../fonts/Oxygen-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

