/* Buttons */

.btn{
    &:active:focus{
        box-shadow: none !important;
        outline: 0;
    }
    &.btn-lg{
        height: 44px;
        font-size: 16px;
        padding: 10px 25px;
        min-width: 140px;
        @include border-radius(22px);
        &.btn-outline{
            border-width: 2px;
        }
        &.btn-outline-white{
            border-width: 2px;
        }
    }
    &.btn-sm{
        font-family: $fontBold;
        height: 32px;
        font-size: 12px;
        padding: 6px 16px;
        min-width: 140px;
        @include border-radius(16px);
    }
    &.btn-primary{
        background: $primaryColor;
        border-color: $primaryColor;
        &:hover{
            border-color: #e60000 !important;
            background-color: #e60000 !important;
        }
        &:active{
            border-color: $primaryColor !important;
            background-color: $primaryColor !important;
        }
        &.disabled{
            background: $primaryColor !important;
            border-color: $primaryColor !important;
        }
    }
    &.btn-outline{
        font-family: $fontBold;
        color: $primaryColor;
        border-color: $primaryColor;
        background-color: $transparent;
        &:hover{
            color: $white;
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
        &:active{
            color: $primaryColor;
            background-color: $transparent;
        }
        &.disabled{
            color: $primaryColor;
            border-color: $primaryColor;
            background-color: $transparent;
        }
    }
    &.btn-outline-white{
        font-family: $fontBold;
        color: $borderWhite;
        border-color: $borderWhite;
        background-color: $transparent;
        &:hover,
        &:active{
            color: $black;
            background-color: $white;
            border-color: $borderWhite;
        }
    }
    &:focus{
        box-shadow: none !important;
        outline: 0;
    }
    &:active{

    }
}

/* Input Field */

.form-group{
    input{
        &.form-control{
            height: 44px;
            padding: 12px 18px;
            font-size: 14px;
            @include border-radius(22px);
            border-color: rgba($secondaryColor, 0.5);
        }
        &:focus{
            box-shadow: none;
            border-color: $secondaryColor;
        }
    }
}