.icon{
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/images/spritesheet.svg");
  }
  
  .icon8 {
    width: 8px;
    height: 8px;
  }
  
  .icon10 {
    width: 10px;
    height: 10px;
  }
  
  .icon12 {
    width: 12px;
    height: 12px;
  }
  
  .icon13 {
    width: 13px;
    height: 13px;
  }
  
  .icon14 {
    width: 14px;
    height: 14px;
  }
  .icon16 {
    width: 16px;
    height: 16px;
  }
  
  .icon18 {
    width: 18px;
    height: 18px;
  }
  
  .icon19 {
    width: 19px;
    height: 19px;
  }
  
  .icon20 {
    width: 20px;
    height: 20px;
  }
  
  .icon22 {
    width: 22px;
    height: 22px;
  }
  
  .icon24 {
    width: 24px;
    height: 24px;
  }
  
  .icon25 {
    width: 25px;
    height: 25px;
  }
  
  .icon30 {
    width: 30px;
    height: 30px;
  }
  
  .icon32 {
    width: 32px;
    height: 32px;
  }
  
  .icon36 {
    width: 36px;
    height: 36px;
  }
  
  .icon42 {
    width: 42px;
    height: 42px;
  }
  
  .icon54 {
    width: 54px;
    height: 54px;
  }

  .icon64 {
    width: 64px;
    height: 64px;
  }
  
  .icon-plus-sm {
    @extend .icon12;
    background-position: -2px -2px;
  }

  .icon-notification-bell{
    @extend .icon24;
    background-position: -97px -88px;
  }
  
  .icon-down-color{
    @extend .icon14;
    background-position: -125px -93px;
  }

  .icon-atoms-explorer{
    @extend .icon42;
    background-position: 1px -335px;
  }

  .icon-return-btn{
    @extend .icon64;
    background-position: -64px -507px;
  }

  .icon-left-arrow-md{
    @extend .icon18;
    background-position: -147px -92px;
  }
  .icon-courseProgress-calander{
    @extend .icon32;
    background-position: -96px -200px;
  }

  .icon-courseProgress-simulation{
    @extend .icon32;
    background-position: -64px -200px;
  }

  .icon-courseProgress-quiz{
    @extend .icon32;
    background-position: -32px -200px;
  }
  .icon-courseProgress-certificate{
    @extend .icon32;
    background-position: 0 -200px;
  }
  .icon-information{
    @extend .icon24;
    background-position: -528px -88px;
    &.active{
      @extend .icon24;
      background-position: -528px -112px;
    }
  }
  .icon-video{
    @extend .icon24;
    background-position: -360px -88px;
    &.active{
      @extend .icon24;
      background-position: -360px -112px;
    }
  }
  .icon-simulation{
    @extend .icon24;
    background-position: -336px -88px;
    &.active{
      @extend .icon24;
      background-position: -336px -112px;
    }
  }
  .icon-file{
    @extend .icon24;
    background-position: -312px -88px;
    &.active{
      @extend .icon24;
      background-position: -312px -112px;
    }
  }
  .icon-play-outline{
    @extend .icon24;
    background-position: -361px -88px;
  }
  .icon-play-outline-sm{
    @extend .icon16;
    background-position: -176px 0;
  }
  .icon-webinar{
    @extend .icon24;
    background-position: -289px -88px;
    &.active{
      @extend .icon24;
      background-position: -289px -112px;
    }
  }
  .icon-quiz{
    @extend .icon24;
    background-position: -240px -88px;
    &.active{
      @extend .icon24;
      background-position: -240px -112px;
    }
  }

  .icon-arrow-down {
    @extend .icon25;
    background-position: -71px -87px;
  }

  .icon-download{
    @extend .icon24;
    background-position: -408px -88px;
  }

  .icon-print{
    @extend .icon24;
    background-position: -433px -88px;
  }