  /**
   * reset.scss
   *
   * Normalized tag elements and classes for consistency
   *
   *
   *
   * INDEX
   *  - Container
   *  - Headings & Paragraphs
   *  - Text Colors Classes
   *  - Background Classes
   *  - Font size  Classes
   *  - Font Family  Classes
   *
   */

  /* ----------------------------------------------------------------------------------------*/

  /******
   * container
   ******/
  .container{
    max-width: 1170px;
  }

  .white-text{
    color: $white !important;
  }  

  .primary-text{
    color: $primaryColor !important;
  }

  .secondary-text{
    color: $secondaryColor !important;
  }

  .sub-secondary-text{
    color: $subSecondaryColor !important;
  }

  .tertiary-text{
    color: $lightGray !important;
  }

  .black-text{
    color: $black !important;
  }

  .darkGray-text{
    color: $darkGray !important;
  }

  .lightGray-text{
    color: $lightGray !important;
  }

  .text-decoration-none{
    text-decoration: none !important;
  }

  .primary-bg {
    background: $primaryColor !important;
  }

  .white-bg {
    background: $white !important;
  }
  
  .black-bg {
    background: $black !important;
  }

  /******
   * Headings & Paragraphs
   ******/

  // Headings
h2,h3,h4,h5,h6{
  font-family: $fontBold;
  color: $black;
}
h2{
  font-size: 36px !important;
}
h3{
  font-size: 28px!important;
}
h4{
  font-size: 24px !important;
}
h5{
  font-size: 13px !important;
}
h6{
  font-size: 11px !important;
}

  /******
   * Width size  Classes
   ******/


.w-80{
  width: 80% !important;
}

.w-70{
  width: 70% !important;
}

.w-60{
  width: 60% !important;
}


  /******
   * Font size  Classes
   ******/


.font6{
  font-size: 6px !important;
}
.font7{
  font-size: 7px !important;
}
.font8{
  font-size: 8px !important;
}
.font9{
  font-size: 9px !important;
}
.font10{
  font-size: 10px !important;
}
.font11{
  font-size: 11px !important;
}
.font12{
  font-size: 12px !important;
}
.font13{
  font-size: 13px !important;
}
.font14{
  font-size: 14px !important;
}
.font15{
  font-size: 15px !important;
}
.font16{
  font-size: 16px !important;
}
.font18{
  font-size: 18px !important;
}

.font20{
  font-size: 20px !important;
}

.font22{
  font-size: 22px !important;
}
.font24{
  font-size: 24px !important;
}

.font26{
  font-size: 26px !important;
}

.font28{
  font-size: 28px !important;
}

.font30{
  font-size: 30px !important;
}

.font32{
  font-size: 32px !important;
}

.font34{
  font-size: 34px !important;
}

.font40{
  font-size: 40px !important;
}

.font36{
  font-size: 3.6rem;
}

  /******
   * Font Family  Classes
   ******/


.font-bold{
  font-family: $fontBold;
}

.font-regular{
  font-family: $fontRegular;
}

.font-light{
  font-family: $fontLight;
}

.font-black{
  font-family: $fontBold;
}

.font-italics{
  font-family: $fontRegular;
  font-style: italic;
}

.min-height-100{
  min-height: 100%;
}

.height-auto{
  height:auto !important;
}

.height100{
  height:100% !important;
}

.height90{
  height:90%;
}

.max-height80{
  max-height:80%;
}

.height80{
  height:80%;
}

.height70{
  height:70%;
}

.height60{
  height:60%;
}

.height50{
  height:50%;
}

.height55{
  height:55%;
}

.height40{
  height:40%;
}

.height45{
  height:45%;
}

.height30{
  height:30%;
}

.height20{
  height:20%;
}

.height25{
  height:25%;
}

.height10{
  height:10%;
}

.height5px{
  height:5px !important;
}

.height8px{
  height:8px !important;
}

.height10px{
  height:10px !important;
}

.height15px{
  height:15px !important;
}

.height20px{
  height:20px !important;
}

.height25px{
  height:25px !important;
}

.height30px{
  height:30px !important;
}

.height35px{
  height:35px !important;
}

.height36px{
  height:36px !important;
}

.height40px{
  height:40px !important;
}

.height50px{
  height:50px !important;
}

.height60px{
  height:60px !important;
}

.height80px{
  height:80px !important;
}

.height100px{
  height:100px !important;
}

.height100vh{
  height:100vh !important;
}

.pt-100{
  padding-top: 100px !important;
}

.transparent{
  color: $transparent;
}

.transparentBg{
  background: $transparent;
}

.border-radius-0{
  @include border-radius(0 !important);
}

.opacity-5{
  opacity: 0.5 !important;
}

.opacity-1{
  opacity: 1 !important;
}

.opacity-0{
  opacity: 0 !important;
}

/* Text Decorations */
  .line-through{
    text-decoration: line-through;
  }

  
/* Line Height */
  .line-height-12{
    line-height: 12px;
  }

  .line-height-14{
    line-height: 14px;
  }

  .line-height-16{
    line-height: 16px;
  }
  
  .line-height-18{
    line-height: 18px;
  }

  .line-height-24{
    line-height: 24px;
  }

  .overflow-hidden{
    overflow: hidden !important;
  }

  .overflow-visible{
    overflow: visible !important;
  }

  .border-bottom-1{
    border-bottom: 1px solid;
  }
  
  .border-left-1{
    border-left: 1px solid;
  }
  
  .border-top-1{
    border-top: 1px solid;
  }
  
  .border-right-1{
    border-right: 1px solid;
  }

  .border-1{
    border: 1px solid;
  }

  .border-radius-1{
    @include border-radius(1px !important);
  }

  .border-radius-2{
    @include border-radius(2px !important);
  }

  .border-radius-3{
    @include border-radius(3px !important);
  }

  .border-radius-4{
    @include border-radius(4px !important);
  }

  .border-radius-5{
    @include border-radius(5px !important);
  }

  .border-radius-10{
    @include border-radius(10px !important);
  }

  .border-radius-100cent{
    @include border-radius(100% !important);
  }

  .border-radius-right-5{
    @include border-radius(0 5px 5px 0 !important);
  }

  //Paddings
  .pb-34 {
    padding-bottom: 34px !important;
  } 