@media (min-width: 1366px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1367px){
    .container {
        max-width: 1320px;
    }
    .modal-lg, .modal-xl {
        max-width: 1300px;
    }
}

@media (max-width: 1280px){
    .container {
        max-width: 1060px;
    }
}

@media (max-width: 1024px){
    .container {
        max-width: 850px;
    }
}

