/**
 * _Variables.scss
 *
 * Variables for colors, fonts etc
 *
 *
 * INDEX
 *  - Color Variables
 *  - Font Family Variables
 *  - DIN Pro Bold
 *  - DIN Pro Light
 *  - DIN Pro Medium
 *
 */

/* ----------------------------------------------------------------------------------------*/

/******
 * Color Variables
  ******/

$white: #ffffff;
$black: #000000;
$transparent: rgba(0,0,0,0);
$primaryColor: #ad0000;
$secondaryColor: #3c3c3c;
$darkGray: #2a2a2a;
$subSecondaryColor: #7d7d7d;
$lightGray: #6c6c6c;

/******
  * Font Family Variables
   ******/

  $fontRegular: 'oxygenRegular';
  $fontLight: 'oxygenLight';
  $fontItalic: 'oxygenItalic';
  $fontBold: 'oxygenBold';

  /******
  * Border Variables
   ******/
  $borderWhite: $white;