
@import "partial/fonts";
@import "partial/mixins";
@import "partial/variables";
@import "partial/reset";
@import "partial/icons";
@import "partial/common";
@import "partial/formElements";
@import "partial/responsive";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $fontRegular;
  color: $secondaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

.AtomsContainer{
  height: 100vh;
}


.ScrollbarWithMenu{
  height: calc(100vh - 60px);
}

.numberedList{
  counter-reset: numbered;
  .numberedItem{
    &:before{
      counter-increment: numbered;
      content: counter(numbered) ". ";
    }
  }
}

.DashboardContainer{
  width: 1110px;
  margin: 0 auto;
}

#progressBar {
  width: 300px;
  margin: 10px auto;
  height: 22px;
  background-color: #0A5F44;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #CBEA00;
  box-sizing: border-box;
}

.custom-scrollbars > div:last-child {
  opacity: 0;
  transition: opacity 200ms ease;
}
  
.custom-scrollbars:hover > div:last-child {
  opacity: 1;
}